p {
  color: blue;
}

header h1 {
  color: cadetblue;
}

main p {
  color: rgb(175, 232, 175)
}

#maintitle {
  color:burlywood;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.bigger {
  font-size: 15pt;
  font-weight: bold;
}
